# find palindrom list

In [1]:
import pandas as pd
my_list = ["geeks", "geeg", "keek", "practice", "aa", 'aba', 'b']

In [2]:
pal_list = list(filter(lambda x:x == "".join(reversed(x)), my_list))
pal_list

['geeg', 'keek', 'aa', 'aba', 'b']

# inner and outer join

In [21]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
staff_df.head()

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [22]:
student_df.head()

            School
Name
James     Business
Mike           Law
Sally  Engineering

In [23]:
# If Name column is not an index
pd.merge(student_df, staff_df, on='Name', how='inner')

            School            Role
Name
James     Business          Grader
Sally  Engineering  Course liasion

In [24]:
# If Name column is an index
pd.merge(student_df, staff_df
         , how='inner', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Sally  Engineering  Course liasion

In [25]:
# If Name column is an index
pd.merge(student_df, staff_df
         , how='outer', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Kelly          NaN  Director of HR
Mike           Law             NaN
Sally  Engineering  Course liasion

# flatten a list of list

In [15]:
l = [[1, 2, 3], [4, 5, 6], [7], [8, 9]]

In [17]:
flat_list = [item for sublist in l for item in sublist]

In [18]:
flat_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# from list of list of dict create me a dataframe with. keys and val seperate cols in dataframe

In [26]:

l1  = [[{'yolov3_0': [519, 336, 826, 1073]},
 {'yolov3_0': [28, 73, 481, 1086]},
 {'yolov3_0': [710, 144, 1088, 1087]}],
 [{'yolov3_1': [519, 336, 826, 1073]},
 {'yolov3_0': [28, 73, 481, 1086]},
 {'yolov3_0': [710, 144, 1088, 1087]}]]

In [ ]:
flat_list = [item for sublist in l1 for item in sublist]

In [27]:
df = pd.concat([pd.DataFrame(data = {'class':i.keys(), 'bbox':i.values()}) for i in flat_list], ignore_index=True)

In [28]:
df

        class                      bbox
0  (yolov3_0)   ([519, 336, 826, 1073])
1  (yolov3_0)     ([28, 73, 481, 1086])
2  (yolov3_0)  ([710, 144, 1088, 1087])
3  (yolov3_1)   ([519, 336, 826, 1073])
4  (yolov3_0)     ([28, 73, 481, 1086])
5  (yolov3_0)  ([710, 144, 1088, 1087])

# DS

### Method-1

### Method-2

# linked list
## print middle of Linked list

In [87]:
# Node class 
class Node: 

	# Function to initialise the node object 
	def __init__(self, data): 
		self.data = data # Assign data 
		self.next = None # Initialize next as null 


# Linked List class contains a Node object 
class LinkedList: 

	# Function to initialize head 
	def __init__(self): 
		self.head = None

	# Function to insert a new node at the beginning 
	def push(self, new_data): 
		new_node = Node(new_data) 
		new_node.next = self.head 
		self.head = new_node

	# Print the linked list
	def printList(self):
		node = self.head
		while node:
			print(str(node.data) + "->", end="")
			node = node.next
		print("NULL")

	# Function that returns middle.
	def printMiddle(self):
		# Initialize two pointers, one will go one step a time (slow), another two at a time (fast)
		slow = self.head
		fast = self.head

		# Iterate till fast's next is null (fast reaches end)
		while fast and fast.next:
			slow = slow.next
			fast = fast.next.next
		
		# return the slow's data, which would be the middle element.
		print("The middle element is ", slow.data)

# Code execution starts here 
if __name__=='__main__': 

	# Start with the empty list 
	llist = LinkedList() 

	for i in range(5, 0, -1):
		llist.push(i)
		llist.printList()
		llist.printMiddle()

5->NULL
The middle element is  5
4->5->NULL
The middle element is  5
3->4->5->NULL
The middle element is  4
2->3->4->5->NULL
The middle element is  4
1->2->3->4->5->NULL
The middle element is  3

# Design Pattern

### Singleton Design Pattern

In [1]:
# classic implementation of Singleton Design pattern 
class Singleton: 
  
    __shared_instance = 'GeeksforGeeks'
  
    @staticmethod
    def getInstance(): 
  
        """Static Access Method"""
        if Singleton.__shared_instance == 'GeeksforGeeks': 
            Singleton() 
        return Singleton.__shared_instance 
  
    def __init__(self): 
  
        """virtual private constructor"""
        if Singleton.__shared_instance != 'GeeksforGeeks': 
            raise Exception ("This class is a singleton class !") 
        else: 
            Singleton.__shared_instance = self

# main method 
if __name__ == "__main__": 
  
    # create object of Singleton Class 
    obj = Singleton()
    print(obj) 
    
    # pick the instance of the class 
    obj = Singleton.getInstance() 
    print(obj)

<__main__.Singleton object at 0x10419e400>

Exception: This class is a singleton class !

## Algorithm DP

## subset sum
Given a set of non-negative integers, and a value sum, determine if there is a subset of the given set with sum equal to given sum. 

Example: 


#### Input: set[] = {3, 34, 4, 12, 5, 2}, sum = 9
Output: True  
There is a subset (4, 5) with sum 9.

#### Input: set[] = {3, 34, 4, 12, 5, 2}, sum = 30
Output: False
There is no subset that add up to 30.

In [42]:
# A recursive solution for subset sum
# problem

# Returns true if there is a subset
# of set[] with sun equal to given sum


def isSubsetSum(set, n, sum):

	# Base Cases
	if (sum == 0):
		return True
	if (n == 0):
		return False

	# If last element is greater than
	# sum, then ignore it
	if (set[n - 1] > sum):
		return isSubsetSum(set, n - 1, sum)

	# else, check if sum can be obtained
	# by any of the following
	# (a) including the last element
	# (b) excluding the last element
	return isSubsetSum(
		set, n-1, sum) or isSubsetSum(
		set, n-1, sum-set[n-1])


# Driver code
set = [3, 34, 4, 12, 5, 2]
sum = 9
n = len(set)
if (isSubsetSum(set, n, sum) == True):
	print("Found a subset with given sum")
else:
	print("No subset with given sum")

# This code is contributed by Nikita Tiwari.

Found a subset with given sum

## 0-1 Knapsack Problem

'''
Given weights and values of n items, put these items in a knapsack of capacity W to
get the maximum total value in the knapsack. In other words, given two integer arrays val[0..n-1] and wt[0..n-1] which represent values and weights associated with n items respectively. Also given an integer W which represents knapsack capacity, find out the maximum value subset of val[] such that sum of the weights of this subset is smaller than or equal to W. You cannot break an item, either pick the complete item or don’t pick it (0-1 property).
'''

In [85]:
# A naive recursive implementation
# of 0-1 Knapsack Problem

# Returns the maximum value that
# can be put in a knapsack of
# capacity W


def knapSack(W, wt, val, n):

	# Base Case
	if n == 0 or W == 0:
		return 0

	# If weight of the nth item is
	# more than Knapsack of capacity W,
	# then this item cannot be included
	# in the optimal solution
	if (wt[n-1] > W):
		return knapSack(W, wt, val, n-1)

	# return the maximum of two cases:
	# (1) nth item included
	# (2) not included
	else:
		return max(
			val[n-1] + knapSack(
				W-wt[n-1], wt, val, n-1),
			knapSack(W, wt, val, n-1))

# end of function knapSack


#Driver Code
val = [60, 100, 120]
wt = [10, 20, 30]
W = 50
n = len(val)
print(knapSack(W, wt, val, n))

# This code is contributed by Nikhil Kumar Singh

220

## Array Rotation
    Given an array, cyclically rotate the array clockwise by n.

Examples rotate by 1:

    Input:  arr[] = {1, 2, 3, 4, 5}
    Output: arr[] = {5, 1, 2, 3, 4}

In [7]:
arr = [1, 2, 3, 4, 5]

In [11]:
def rotateByN(arr, n):
    pass

## MAP filter

In [4]:
visit1 = {'Mon':100, 'Tue':10, 'Wed':20, 'Thu':100, 'Fri':10, 'Sat':8, 'Sun':80}
visit2 = {'Mon':90, 'Tue':20, 'Wed':20, 'Thu':95, 'Fri':15, 'Sat':9, 'Sun':90}
# can you tell me total ftfall on both store on which both the store saw a footfall more than 20

In [39]:
list(map lambda x:)

0 dict_values([100, 10, 20, 100, 10, 8, 80])
1 dict_values([90, 20, 20, 95, 15, 9, 90])

In [64]:
list(map(lambda x: x, filter(lambda x: x[0][1] >= 90 and x[1][1] > 90, zip(list(visit1.items()), list(visit2.items())) )))

[(('Thu', 100), ('Thu', 95))]

In [65]:
for i in zip(list(visit1.items()), list(visit2.items())):
    print(i)

(('Mon', 100), ('Mon', 90))
(('Tue', 10), ('Tue', 20))
(('Wed', 20), ('Wed', 20))
(('Thu', 100), ('Thu', 95))
(('Fri', 10), ('Fri', 15))
(('Sat', 8), ('Sat', 9))
(('Sun', 80), ('Sun', 90))